In [1]:
import re
import pandas as pd
from datetime import datetime, timedelta
import pyspark.sql.functions as F
from pyspark.sql.functions import *

from pyspark.sql.functions import json_tuple
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
from pyspark.sql import SparkSession
from pyspark.sql import functions as func
import numpy as np
import json
import os
from calendar import monthrange
import pymysql
import sys 
import requests

In [2]:
spark = SparkSession .builder .master ('yarn').appName('Ban tep cafef')\
        .config('spark.yarn.queue','datacollection').config('spark.executor.memory', '8G')\
        .config('spark.driver.cores','4').config('spark.driver.memory','8G')\
        .config("spark.driver.extraClassPath", "/data/dataanalyst/mysql-connector-java-8.0.20.jar") .getOrCreate()

In [3]:
!curl -o helper.py "https://lab.admicro.vn/api/v4/projects/6986/repository/files/helpers.py/raw?ref=helper&private_token=A9EHoeWfazLZBmvkWv9C"
%run helper.py

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  6831  100  6831    0     0  22492      0 --:--:-- --:--:-- --:--:-- 22544
imported

### MySQL

In [4]:
def get_time_point(date_end, date_start):
    """ Get time points from string date
    Args:
        day: string date (str)
    Return:
        #start_stamp, end_stamp
    """
    
    import datetime
    end_time = datetime.datetime.strptime(date_end, '%Y-%m-%d')
    start_time = datetime.datetime. strptime(date_start,'%Y-%m-%d')
    start_stamp = datetime.datetime.timestamp(start_time)*1000 
    end_stamp = datetime.datetime.timestamp(end_time)*1000
    return start_stamp, end_stamp

In [5]:
start_stamp, end_stamp = get_time_point(date_end = '2022-06-01', date_start = '2022-05-23')

In [6]:
app = 'cafef'

In [7]:
import pymysql
user = 'jupyter_hub'
password = 'sVfBxy9HhuYC71gvWKcF'
def get_mysql(query, typee = True):
    if typee == False:
        connection = pymysql.connect(host='172.26.49.50',
                                     user=user,
                                     password=password,
                                     database='notification_db',
                                     cursorclass=pymysql.cursors.DictCursor)
    else:
        connection = pymysql.connect(host='192.168.23.191',
                                     user=user,
                                     password= '2Ne9kPULzKjYc0aHQhR4',
                                     database='news',
                                     cursorclass=pymysql.cursors.DictCursor)
        
    dbCursor = connection.cursor()
    dbCursor.execute(query)
    result = dbCursor.fetchall()
    connection.commit()
    connection.close()
    data = pd.DataFrame(result)
    #data = data.astype('str')
    return data

#df_catid1 = get_mysql(f"SELECT id, name FROM news.category WHERE sourceNews like '{app}'",typee= True) #
#df_catid2 = get_mysql(f"SELECT newsId, catId FROM news.news_resource WHERE sourceNews like '{app}'",typee= True)
df_catid3 = get_mysql(f"SELECT id as group_id, name FROM notification_db.{app}_news_notify_user_group",typee= False)
df_catid4 = get_mysql(f"SELECT id,group_id,total_received_user, total_click,valid_from FROM notification_db.{app}_system_notify WHERE valid_from >= {start_stamp/1000} AND valid_from <= {end_stamp/1000}",typee= False)

#pymysql_category = df_catid1.merge(df_catid2, left_on = 'id', right_on = 'catId', how = 'inner')[['name','newsId','id']].astype('str')
pymysql_group_user = df_catid3.merge(df_catid4, on = 'group_id', how = 'inner')#.rename(columns = {'id_x':'id'})[['id','name', 'total_received_user','total_click','valid_from']]

#pymysql_group_user = pymysql_group_user.rename(columns = {'id_y':'orderId'})#.astype('str')

In [8]:
pymysql_group_user['datetime'] = [datetime.fromtimestamp(x) for x in (pymysql_group_user['valid_from']).astype(int)]
pymysql_group_user['date'] = pymysql_group_user.datetime.dt.date

In [29]:
pymysql_group_user.sort_values(by='valid_from', ascending=False)

AttributeError: 'DataFrame' object has no attribute 'sort_values'

In [25]:
pymysql_group_user=spark.createDataFrame(pymysql_group_user) 
pymysql_group_user.printSchema()

root
 |-- group_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- id: long (nullable = true)
 |-- total_received_user: double (nullable = true)
 |-- total_click: double (nullable = true)
 |-- valid_from: long (nullable = true)
 |-- datetime: timestamp (nullable = true)
 |-- date: date (nullable = true)

### ES

In [10]:
import elasticsearch
from elasticsearch import Elasticsearch
es = Elasticsearch(hosts="http://da_hightech_notify:aYssgoAkzzAdQBi3eO@10.5.36.139: 9200/")

In [11]:
date_end = '2022-05-31'
date_start = '2022-05-23'

In [12]:
date_index = pd.date_range (start = date_start, end = date_end)
date_index = pd.DataFrame(date_index.astype(str)).rename(columns = {0:'date'})

In [13]:
date_index

         date
0  2022-05-23
1  2022-05-24
2  2022-05-25
3  2022-05-26
4  2022-05-27
5  2022-05-28
6  2022-05-29
7  2022-05-30
8  2022-05-31

In [14]:
def stamp(event):
    time_send = pd.DataFrame(columns=['date','event','doc_count'])
    for dt in date_index.date:
        index = 'cafef-notify-logs-2022.05'
        print(index)
        for u in pymysql_group_user.id.tolist():
            #print(u)
            query_user_new = {"size": 2, 
                    "query": {
                    "bool": {
                        "filter": [
                        {"term": {
                            "event": event
                        }}
                        ,
                            {"term": {
                            "data.extension.orderID": u,
                        }}
                        ]
                    }
                    },
                    "aggs": {
                    "count": {
                        "terms": {
                        "field": "userID",
                        "size": 5000
                        
                            }}}}
            noti = es.search(index = index, body = query_user_new,request_timeout=90)
            df = pd.DataFrame(noti['aggregations']['count']['buckets'])
            df['date']=pd.to_datetime(dt)
            df['newsid']=u #orderid
            df = df.rename(columns={'key':'event'})
            time_click=time_click.append(df)
    time_click = time_click.rename(columns = {'event':'userid'}).drop(columns = {'doc_count'})
    time_click['event'] = event
    return time_send

In [15]:
time_click = stamp(event = 4)

cafef-notify-logs-2022.05
cafef-notify-logs-2022.05
cafef-notify-logs-2022.05
cafef-notify-logs-2022.05
cafef-notify-logs-2022.05
cafef-notify-logs-2022.05
cafef-notify-logs-2022.05
cafef-notify-logs-2022.05
cafef-notify-logs-2022.05

In [16]:
time_click['userid']=time_click['userid'].str.strip('-1_')

In [17]:
time_click = time_click.astype({'newsid':'int'})

In [26]:
time_click=spark.createDataFrame(time_click) 
time_click.printSchema()

root
 |-- date: timestamp (nullable = true)
 |-- userid: string (nullable = true)
 |-- newsid: long (nullable = true)
 |-- event: long (nullable = true)

In [39]:
time_click.show()

+-------------------+--------------------+------+-----+
|               date|              userid|newsid|event|
+-------------------+--------------------+------+-----+
|2022-05-23 00:00:00|    5qWwBPKnNr8rAHXM|  3724|    4|
|2022-05-23 00:00:00|    b8f18d679cfd56a4|  3724|    4|
|2022-05-23 00:00:00|    ac5b4e815aecc190|  3724|    4|
|2022-05-23 00:00:00|    d48cde02115d7175|  3724|    4|
|2022-05-23 00:00:00|    f07e586bc3120b53|  3724|    4|
|2022-05-23 00:00:00|     5c72512f628d9f2|  3724|    4|
|2022-05-23 00:00:00|    e095e61c9d1c6513|  3724|    4|
|2022-05-23 00:00:00|    f3134a401c963fb3|  3724|    4|
|2022-05-23 00:00:00|    d4db0b65ae9c02d3|  3724|    4|
|2022-05-23 00:00:00|    4d530b4d2e87cff5|  3724|    4|
|2022-05-23 00:00:00|    6598a8f1b9083e76|  3724|    4|
|2022-05-23 00:00:00|E2CF1988-9AA5-4AF...|  3724|    4|
|2022-05-23 00:00:00|    b96c6f50c3a4a7fd|  3724|    4|
|2022-05-23 00:00:00|    2cc390a1cc444ad0|  3724|    4|
|2022-05-23 00:00:00|    5fc1ff569b4aff0d|  3724|    4|
|2022-05-23 00:00:00|    7fa17006cd540437|  3724|    4|
|2022-05-23 00:00:00|    92fcfda2f054d29a|  3724|    4|
|2022-05-23 00:00:00|    a2146ac5d8c68752|  3724|    4|
|2022-05-23 00:00:00|    a264c57c86fc9d2c|  3724|    4|
|2022-05-23 00:00:00|    eef98fa5d427294b|  3724|    4|
+-------------------+--------------------+------+-----+
only showing top 20 rows

In [58]:
df_hdf.show()

+--------------------+----------+-------+-----------------+----------+
|            deviceId|      date|eventId|           itemId|serverTime|
+--------------------+----------+-------+-----------------+----------+
|FE051EF2-97F0-4D1...|2022-05-23|     14|20220523100841004|1653283019|
|BFB4B839-0B57-49B...|2022-05-23|   2009|   20220523105658|1653282986|
|506B76ED-5392-442...|2022-05-23|      3|   20220523105658|1653282967|
|71AE3A3E-B293-447...|2022-05-23|     22|20220522214230411|1653283014|
|738FB6EC-448F-44C...|2022-05-23|     22|20220523064235051|1653282969|
|    b5a7ba9d69427f03|2022-05-23|     14|20220523090625244|1653283015|
|    c4d19c7aaec352a2|2022-05-23|      3|20220523064235051|1653282990|
|    239450bd302cff4a|2022-05-23|     14|20220522211436853|1653282997|
|    bcd1d95598531fe8|2022-05-23|      2|   20220523105658|1653282966|
|8B6CD87A-D58E-436...|2022-05-23|      3|   20220523105658|1653282961|
|    8bbb421a0cb48e60|2022-05-23|      2|   20220523105658|1653282985|
|75B281DB-1CB9-4AA...|2022-05-23|     22|20220522102942914|1653282988|
|    36626a614f1df9dd|2022-05-23|      4|20220522190309223|1653282977|
|    fe951d7e6f773717|2022-05-23|      3|20220523101320736|1653283010|
|4844AC6F-37F4-4D7...|2022-05-23|      3|20220522204857037|1653283005|
|0FB7C891-FDF5-435...|2022-05-23|     14|20220523113340378|1653282981|
|    66ce9105f1fe484e|2022-05-23|      2|20220522214230411|1653283021|
|    ada7c437af65624e|2022-05-23|      4|20220523102147339|1653282993|
|FE051EF2-97F0-4D1...|2022-05-23|      4|20220523064235051|1653283006|
|    239450bd302cff4a|2022-05-23|     14|20220522204857037|1653283007|
+--------------------+----------+-------+-----------------+----------+
only showing top 20 rows

In [31]:
group_click = time_click.join(pymysql_group_user,(time_click.date == pymysql_group_user.date) & (time_click.newsid == pymysql_group_user.id),"inner")\
.select(pymysql_group_user.date,pymysql_group_user.id,pymysql_group_user.name,pymysql_group_user.total_received_user,pymysql_group_user.total_click,time_click.userid)

In [32]:
group_click.show()

+----------+----+--------------+-------------------+-----------+--------------------+
|      date|  id|          name|total_received_user|total_click|              userid|
+----------+----+--------------+-------------------+-----------+--------------------+
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|    5qWwBPKnNr8rAHXM|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|    28c054422654c595|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|    888a0ec94312dbf2|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|    34ad46eb9aa64548|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|    0cd1658877bfe63c|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|    58bcae2033632974|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|     d7ca74a963325fe|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|     75a84e9c25d8e87|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|    dc08ed1d1cd42a20|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|    33392d5da15964f4|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|    745d63efd319e759|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|    bc272a84191ff865|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|    e8045b3ad0a5268c|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|    f32c2e56b09ff3c5|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|    f77db5be1774178e|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|     0e48292fc4573f5|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|CC96909-D8BC-4979...|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|     a73c3c9ab061c48|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|25C91B21-FD31-4B0...|
|2022-05-25|3754|(new)Sống Khỏe|           152249.0|     7003.0|    33b05f0caf78ac89|
+----------+----+--------------+-------------------+-----------+--------------------+
only showing top 20 rows

### Aerospike

In [33]:
import aerospike
config = {
  'hosts': [ ("10.3.50.138", 11000), ("10.3.48.161", 11000), ("10.3.51.160", 11000), ("10.3.48.248", 11000) ]
} 
client= aerospike.client(config).connect()

In [34]:
from tqdm import tqdm

def get_user_aero(num_group, set_name):
    user_df = pd.DataFrame(columns=['userid','type'])

    for t in tqdm(range(1,num_group+1)):
        key = ('mem_storage',set_name,'type_'+str(t))
        (key, meta, list_user) = client.get(key)
        user_type = []
        for i in list_user['list_users']:
            i=list(i.split(','))
            for n in range (len(i)):
                u='-'.join(re.findall('\w+',i[n]))
                user_type.append(u)
        df=pd.DataFrame(user_type,columns=['userid'])
        df['type'] = t
        user_df = user_df.append(df)
    return user_df

df_aero = get_user_aero(10, 'user_segment_cafef_new')

100%|██████████| 10/10 [00:05<00:00,  1.76it/s]

In [35]:
df_aero

                                      userid type
0       9E9277EE-13CC-418F-9868-46A326CCFD39    1
1       78B49294-A772-4DA9-AC7F-0EB0EAC6BB49    1
2                           6c105efca4fb9b0e    1
3       C257B8E8-DB9A-4482-AC58-107E43D172FA    1
4       474B3057-627F-438B-A528-314FD9BC3974    1
...                                      ...  ...
179482                      ff3098fad6e81fcb   10
179483                      ff453a944404bb74   10
179484                      ff8e4a6eea55c7dc   10
179485                      ff9db9999e266475   10
179486  79FBE1B9-5CE6-4739-90BB-06243D109CAB   10

[1624159 rows x 2 columns]

In [36]:
dict = {1:"Tài Chính - Ngân hàng", 2:"(new) Bất Động Sản", 3: "(new) Chứng Khoán", 4: "(new)Sống Khỏe",5: "(new)Thời sự",\
        6:"Lifestyle", 7:"Doanh nghiệp", 8:"Kinh tế vĩ mô", 9:"Hàng Hoá - Thị trường", 10:"Quốc tế"}
df_group_user = df_aero.replace({"type": dict})

In [37]:
df_group_user

                                      userid                   type
0       9E9277EE-13CC-418F-9868-46A326CCFD39  Tài Chính - Ngân hàng
1       78B49294-A772-4DA9-AC7F-0EB0EAC6BB49  Tài Chính - Ngân hàng
2                           6c105efca4fb9b0e  Tài Chính - Ngân hàng
3       C257B8E8-DB9A-4482-AC58-107E43D172FA  Tài Chính - Ngân hàng
4       474B3057-627F-438B-A528-314FD9BC3974  Tài Chính - Ngân hàng
...                                      ...                    ...
179482                      ff3098fad6e81fcb                Quốc tế
179483                      ff453a944404bb74                Quốc tế
179484                      ff8e4a6eea55c7dc                Quốc tế
179485                      ff9db9999e266475                Quốc tế
179486  79FBE1B9-5CE6-4739-90BB-06243D109CAB                Quốc tế

[1624159 rows x 2 columns]

In [41]:
df_group_user=spark.createDataFrame(df_group_user) 
df_group_user.printSchema()

root
 |-- userid: string (nullable = true)
 |-- type: string (nullable = true)

In [45]:
group_type_click = group_click.join(df_group_user,group_click.userid == df_group_user.userid,"inner")\
.drop(df_group_user.userid)

In [46]:
group_type_click.show()

+----------+----+----------------+-------------------+-----------+--------------------+--------------------+
|      date|  id|            name|total_received_user|total_click|              userid|                type|
+----------+----+----------------+-------------------+-----------+--------------------+--------------------+
|2022-05-30|3799|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|       Kinh tế vĩ mô|
|2022-05-30|3799|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|             Quốc tế|
|2022-05-30|3799|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|Tài Chính - Ngân ...|
|2022-05-30|3799|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|  (new) Bất Động Sản|
|2022-05-30|3799|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|   (new) Chứng Khoán|
|2022-05-26|3768|Bắn toàn bộ user|           647034.0|     9948.0|0042B3D5-05A5-4D9...|        (new)Thời sự|
|2022-05-26|3768|Bắn toàn bộ user|           647034.0|     9948.0|0042B3D5-05A5-4D9...|Hàng Hoá - Thị tr...|
|2022-05-26|3768|Bắn toàn bộ user|           647034.0|     9948.0|0042B3D5-05A5-4D9...|Tài Chính - Ngân ...|
|2022-05-26|3768|Bắn toàn bộ user|           647034.0|     9948.0|0042B3D5-05A5-4D9...|  (new) Bất Động Sản|
|2022-05-26|3768|Bắn toàn bộ user|           647034.0|     9948.0|0042B3D5-05A5-4D9...|   (new) Chứng Khoán|
|2022-05-26|3768|Bắn toàn bộ user|           647034.0|     9948.0|0042B3D5-05A5-4D9...|      (new)Sống Khỏe|
|2022-05-24|3740|Bắn toàn bộ user|           646383.0|    10879.0|0042B3D5-05A5-4D9...|        (new)Thời sự|
|2022-05-24|3740|Bắn toàn bộ user|           646383.0|    10879.0|0042B3D5-05A5-4D9...|Hàng Hoá - Thị tr...|
|2022-05-24|3740|Bắn toàn bộ user|           646383.0|    10879.0|0042B3D5-05A5-4D9...|Tài Chính - Ngân ...|
|2022-05-24|3740|Bắn toàn bộ user|           646383.0|    10879.0|0042B3D5-05A5-4D9...|  (new) Bất Động Sản|
|2022-05-24|3740|Bắn toàn bộ user|           646383.0|    10879.0|0042B3D5-05A5-4D9...|   (new) Chứng Khoán|
|2022-05-24|3740|Bắn toàn bộ user|           646383.0|    10879.0|0042B3D5-05A5-4D9...|      (new)Sống Khỏe|
|2022-05-24|3742|Bắn toàn bộ user|           645954.0|     7577.0|0042B3D5-05A5-4D9...|        (new)Thời sự|
|2022-05-24|3742|Bắn toàn bộ user|           645954.0|     7577.0|0042B3D5-05A5-4D9...|Hàng Hoá - Thị tr...|
|2022-05-24|3742|Bắn toàn bộ user|           645954.0|     7577.0|0042B3D5-05A5-4D9...|Tài Chính - Ngân ...|
+----------+----+----------------+-------------------+-----------+--------------------+--------------------+
only showing top 20 rows

In [47]:
group_user_click= group_type_click.groupby('date','id','name','type','total_received_user','total_click').agg(F.count('userid').alias('group_click'))

In [59]:
group_user_click.sort(col("name").desc()).show()

+----------+----+--------------------+--------------------+-------------------+-----------+-----------+
|      date|  id|                name|                type|total_received_user|total_click|group_click|
+----------+----+--------------------+--------------------+-------------------+-----------+-----------+
|2022-05-26|3766|Tài Chính - Ngân ...|        Doanh nghiệp|           212860.0|     7707.0|       1719|
|2022-05-26|3766|Tài Chính - Ngân ...|   (new) Chứng Khoán|           212860.0|     7707.0|       3064|
|2022-05-26|3766|Tài Chính - Ngân ...|        (new)Thời sự|           212860.0|     7707.0|       2703|
|2022-05-26|3766|Tài Chính - Ngân ...|Hàng Hoá - Thị tr...|           212860.0|     7707.0|       1343|
|2022-05-26|3766|Tài Chính - Ngân ...|  (new) Bất Động Sản|           212860.0|     7707.0|       3607|
|2022-05-26|3766|Tài Chính - Ngân ...|      (new)Sống Khỏe|           212860.0|     7707.0|       2856|
|2022-05-26|3766|Tài Chính - Ngân ...|             Quốc tế|           212860.0|     7707.0|       2197|
|2022-05-26|3766|Tài Chính - Ngân ...|           Lifestyle|           212860.0|     7707.0|        681|
|2022-05-26|3766|Tài Chính - Ngân ...|       Kinh tế vĩ mô|           212860.0|     7707.0|        565|
|2022-05-26|3766|Tài Chính - Ngân ...|Tài Chính - Ngân ...|           212860.0|     7707.0|       4072|
|2022-05-27|3774|             Quốc tế|           Lifestyle|           222769.0|     9367.0|        768|
|2022-05-27|3774|             Quốc tế|Tài Chính - Ngân ...|           222769.0|     9367.0|       3660|
|2022-05-27|3774|             Quốc tế|      (new)Sống Khỏe|           222769.0|     9367.0|       2426|
|2022-05-27|3774|             Quốc tế|  (new) Bất Động Sản|           222769.0|     9367.0|       3145|
|2022-05-27|3774|             Quốc tế|       Kinh tế vĩ mô|           222769.0|     9367.0|        708|
|2022-05-27|3774|             Quốc tế|        (new)Thời sự|           222769.0|     9367.0|       2245|
|2022-05-27|3774|             Quốc tế|        Doanh nghiệp|           222769.0|     9367.0|       2098|
|2022-05-27|3774|             Quốc tế|             Quốc tế|           222769.0|     9367.0|       2803|
|2022-05-27|3774|             Quốc tế|   (new) Chứng Khoán|           222769.0|     9367.0|       2893|
|2022-05-27|3774|             Quốc tế|Hàng Hoá - Thị tr...|           222769.0|     9367.0|       1281|
+----------+----+--------------------+--------------------+-------------------+-----------+-----------+
only showing top 20 rows

### HDFS

In [55]:
with open("/data/dataanalyst/linhpt/config.json") as json_data_file:
    cfg = json.load(json_data_file)

In [56]:
def get_action_df(app):
    all_df=[]
    date_index = pd.date_range(start=date_start,end=date_end)
    for i in date_index:
        dt = i.date()
        path = cfg['hdfs_log_path']['master1'] + str(dt)
        df_dt = spark.read.parquet(f"{path}").where((F.col('appId').contains(app))&((F.col('itemId')!=""))&((F.col('eventId')!=2008)))
        df_dt = df_dt.withColumn('date',F.lit(dt))
        all_df.append(df_dt)
    i = 0
    df_spark1 = all_df[0]
    while i < len(all_df) -1:
        df_spark1 = df_spark1.unionAll(all_df[i+1])
        i+=1
    df_new = df_spark1#.where(F.col('deviceId').isin(new_user_list))
    df_action = df_new.select('deviceId','date','eventId','itemId','serverTime')#.toPandas()
    return df_action

In [57]:
df_hdf = get_action_df('cafef')

In [64]:
group_type_click_item = group_type_click.join(df_hdf,group_type_click.userid == df_hdf.deviceId, "inner")\
.select(group_type_click.date,group_type_click.id,df_hdf.itemId,group_type_click.name,group_type_click.total_received_user,group_type_click.total_click,\
       group_type_click.userid,group_type_click.type)

In [66]:
group_type_click_item.show()

+----------+----+-----------------+----------------+-------------------+-----------+--------------------+--------------------+
|      date|  id|           itemId|            name|total_received_user|total_click|              userid|                type|
+----------+----+-----------------+----------------+-------------------+-----------+--------------------+--------------------+
|2022-05-30|3799| 2022052819045893|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|       Kinh tế vĩ mô|
|2022-05-30|3799|20220528065102337|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|       Kinh tế vĩ mô|
|2022-05-30|3799|20220528135759985|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|       Kinh tế vĩ mô|
|2022-05-30|3799| 2022052819045893|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|       Kinh tế vĩ mô|
|2022-05-30|3799|20220528135759985|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|       Kinh tế vĩ mô|
|2022-05-30|3799|20220529091319803|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|       Kinh tế vĩ mô|
|2022-05-30|3799|20220529091319803|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|       Kinh tế vĩ mô|
|2022-05-30|3799|20220529091319803|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|       Kinh tế vĩ mô|
|2022-05-30|3799|20220529091319803|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|       Kinh tế vĩ mô|
|2022-05-30|3799| 2022052819045893|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|             Quốc tế|
|2022-05-30|3799|20220528065102337|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|             Quốc tế|
|2022-05-30|3799|20220528135759985|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|             Quốc tế|
|2022-05-30|3799| 2022052819045893|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|             Quốc tế|
|2022-05-30|3799|20220528135759985|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|             Quốc tế|
|2022-05-30|3799|20220529091319803|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|             Quốc tế|
|2022-05-30|3799|20220529091319803|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|             Quốc tế|
|2022-05-30|3799|20220529091319803|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|             Quốc tế|
|2022-05-30|3799|20220529091319803|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|             Quốc tế|
|2022-05-30|3799| 2022052819045893|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|Tài Chính - Ngân ...|
|2022-05-30|3799|20220528065102337|Bắn toàn bộ user|           648088.0|    10138.0|002BE65C-2D31-40D...|Tài Chính - Ngân ...|
+----------+----+-----------------+----------------+-------------------+-----------+--------------------+--------------------+
only showing top 20 rows