In [1]:
import pandas as pd
from datetime import datetime, timedelta,date
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import datetime as dt
from kneed import KneeLocator
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_csv('C:/Users/PC/Downloads/stores.csv')
df=df.set_index('Store ID ')
df

           Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
Store ID
1                1659             1961                   530        66490
2                1461             1752                   210        39820
3                1340             1609                   720        54010
4                1451             1748                   620        53730
5                1770             2111                   450        46620
...               ...              ...                   ...          ...
892              1582             1910                  1080        66390
893              1387             1663                   850        82080
894              1200             1436                  1060        76440
895              1299             1560                   770        96610
896              1174             1429                  1110        54340

[896 rows x 4 columns]

In [3]:
features = df.to_numpy()
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)

In [4]:
kmeans_kwargs = {
"init": "random",
"n_init": 10,
"max_iter": 300,
"random_state": 42,
}
sse = []
for k in range(1, 11):
    kmeans = KMeans(n_clusters=k, **kmeans_kwargs)
    kmeans.fit(scaled_features)
    sse.append(kmeans.inertia_)

In [5]:
kl = KneeLocator(range(1, 11), sse, curve="convex", direction="decreasing")
kl.elbow

4

#### Noted ở đây là khi giá trị chặn trên trong khoảng range chạy của giá trị k tăng thì số cluster chính xác cũng tăng và chưa xác định được giá trị chặn trên đúng nhất